canvas { border: 1px solid black; }
body {padding: 15px; }
button { border-radius: 10px; }
.status-on { color: green; }
.status-off { color: red; }
.app-run-stats { width: 60%; padding: 15px; border: 1px dashed grey; background: rgba(0, 0, 0, 0.1);}
.content { padding: 15px; }
.control { margin: 20px 20px; }
table.app-run-stats > tbody > tr >td { width: 50%; }
#start-btn { width: 150px; height: 40px; }